{% extends 'base.html' %} {% block body %}

<!-- Make video play enable on Chrome and Safari ~Enes -->
<script>
    document.getElementById('vid').play();
</script>

<!-- to be filled by the Python script -->
<h1>{{ the_title }}</h1>

<!-- note how items from the "static" folder are linked -->

<!-- <img
  alt="Photo: DevOps"
  src="{{ url_for('static', filename='images/devops.jpg') }}"
/> -->

<!-- add video ~Enes-->
<video width="600" height="480" autoplay muted loop>
  <source src="{{ url_for('static', filename='videos/devops.mp4') }}" type="video/mp4">
  Your browser does not support the video tag.
</video>

<p class="credit">
  Photo by Grzegorz Żuk (DevOps animated illustration)
  <a
    href="https://dribbble.com/shots/11062109-DevOps-animated-illustration"
    target="_blank"
    >via Dribble</a
  >
</p>

<p>This is the index page for my example Flask app.</p>

<ul>
  <!-- note how items from routes in the the Python script are linked -->
  <li><a href="{{ url_for('twelve') }}"> Twelve-Factor App methodology </a></li>
  <li><a href="{{ url_for('sre') }}">Site reliability engineering </a></li>
</ul>

<p>
  <h3>Definition</h3>
  Other than it being a cross-functional combination (and a portmanteau too) of
  the terms and concepts for "development" and "operations," academics and
  practitioners have not developed a universal definition for the term "DevOps".
  Most often, DevOps is characterized by key principles: shared ownership,
  workflow automation, and rapid feedback. From an academic perspective, Len
  Bass, Ingo Weber, and Liming Zhu—three computer science researchers from the
  CSIRO and the Software Engineering Institute—suggested defining DevOps as "a
  set of practices intended to reduce the time between committing a change to a
  system and the change being placed into normal production, while ensuring high
  quality". However, the term is used in multiple contexts. At its most
  successful, DevOps is a combination of specific practices, culture change and
  tools.
</p>

<p>
  <h3>History</h3>
  In 1993 the Telecommunications Information Networking Architecture Consortium
  (TINA-C) defined a Model of a Service Lifecycle that combined software
  development with (telecom) service operations. In 2009, the first conference
  named devopsdays was held in Ghent, Belgium. The conference was founded by
  Belgian consultant, project manager and agile practitioner Patrick Debois. The
  conference has now spread to other countries. In 2012, the State of DevOps
  report was conceived and launched by Alanna Brown at Puppet. As of 2014, the
  annual State of DevOps report was published by Nicole Forsgren, Gene Kim, Jez
  Humble and others. They stated that the adoption of DevOps was accelerating.
  Also in 2014, Lisa Crispin and Janet Gregory wrote the book More Agile
  Testing, containing a chapter on testing and DevOps. In 2016 the DORA metrics
  for throughput (deployment frequency, lead time for changes), and stability
  (mean time to recover, change failure rate) where published in the State of
  DevOps report.
</p>

<p>
  (Text from
  <a href="https://en.wikipedia.org/wiki/DevOps" target="_blank"
    >Wikipedia DevOps</a
  >)
</p>

{% endblock %}
