{% extends 'base.html' %} {% block body %}

<h1>{{ the_title }}</h1>

<img
  alt="Photo: Site reliability engineering"
  src="{{ url_for('static', filename='images/sre.jpg') }}"
/>

<p class="credit">
  Site Reliability Engineering LinkedIn Internship (2021)
  <a
    href="https://questionpapershub.com/free-job-alert/linkedin-internship-2021-hiring-for-site-reliability-engineering-intern/"
    target="_blank"
    >via Questionpapershub
  </a>
</p>

<ul>
  <li><a href="{{ url_for('twelve') }}">Twelve-Factor App </a></li>
  <li><a href="{{ url_for('index') }}"> What is DevOps? </a></li>
</ul>

<h2>History</h2>
<p>
  The field of site reliability engineering originated at Google with Ben
  Treynor Sloss, who founded a site reliability team after joining the company
  in 2003. In 2016, Google employed more than 1,000 site reliability engineers.
  After originating at Google in 2003, the concept spread into the broader
  software development industry, and other companies subsequently began to
  employ site reliability engineers. The position is more common at larger web
  companies, as small companies often don't operate at a scale that would
  require dedicated SREs. Organizations who have adopted the concept include
  Airbnb, Dropbox, IBM, LinkedIn, Netflix and Wikimedia. According to a 2021
  report by the DevOps Institute, 22% of organizations in a survey of 2,000
  respondents had adopted the SRE model.
</p>

<h2>Definition</h2>
<p>
  Site reliability engineering, as a job role, may be performed by solo
  practitioners or organized in teams usually being responsible for a
  combination of the following within a broader engineering organization: System
  availability, latency, performance, efficiency, change management, monitoring,
  emergency response, and capacity planning. Site reliability engineers often
  have a backgrounds in software engineering, system engineering, or system
  administration. Focuses of site reliability engineering include automation,
  system design, and improvements to system resilience.
</p>

<h2>Implementations</h2>
<p>
  Site reliability engineering teams engage with the other teams within their
  companies and the SRE principles and practices in various forms.
</p>

<p>
  (Text from
  <a
    href="https://en.wikipedia.org/wiki/Site_reliability_engineering"
    target="_blank"
    >Wikipedia</a
  >)
</p>

{% endblock %}
