{% extends 'base.html' %} {% block body %}

<h1>{{ the_title }}</h1>

<img
  alt="Painting: Goddess Durga on a tiger's back"
  src="{{ url_for('static', filename='images/twelve.jpg') }}"
/>
<p class="credit">
  Revisiting the Twelve-Factor App Methodology
  <a
    href="https://codersociety.com/blog/articles/twelve-factor-app-methodology"
    target="_blank"
    >via Cloudinary</a
  >
</p>

<ul>
  <li><a href="{{ url_for('sre') }}">Site reliability engineering </a></li>
  <li><a href="{{ url_for('index') }}">What is DevOps? </a></li>
</ul>

<h3>What is the Twelve-Factor App Methodology?</h3>
<p>
  The Twelve-Factor App Methodology is suggested by developers for smoothly
  working and delivering Software as a Service (SaaS) Applications or Web Apps
  with a focus on Microservices. For that reason, for purposes of this
  discussion, I will be using Service and Application interchangeably.
</p>

<p>
  At Hashmap, we do our best to follow the methodology as much as possible, but
  reality dictates that sometimes we must deviate a bit due to limitations that
  are encountered. Regardless, it’s always a best practice to keep the
  Twelve-Factors top of mind while building SaaS applications and continue to
  reinforce why they matter.
</p>

<h3>Codebase</h3>
<p>
  An application codebase should always be tracked by a Version Control System
  (VCS). Widely popular in the development world is Git, and in today’s world
  you really can’t find a development team who are not using VCS. It provides
  substantial benefits such as code tracking and code versioning while also
  easing the collaboration of a development team working on the same
  application.
</p>

<p>
  Code should not be shared between applications — you can’t add dependencies of
  deployable services (think Spring Boot or Play applications) on each other.
  So, if there is common code you want to use across applications, create a repo
  for that code as a library, publish it to Maven, and integrate using Maven,
  sbt, Gradle or any other tool you prefer.
</p>

<p>
  (Text from
  <a
    href="https://medium.com/hashmapinc/how-i-use-the-twelve-factor-app-methodology-for-building-saas-applications-with-java-scala-4cdb668cc908"
    target="_blank"
    >Medium</a
  >)
</p>

{% endblock %}
